.account {
  display: flex;
  margin: 0.5em 10%;
  font-weight: 500;

  @include respond-phone {
    display: none;
  }

  &__search {
    margin-right: auto;
  }

  &__hub {
    @include flex-row;

    &-mobile {
      display: none;
      @include respond-phone {
        display: flex;
        justify-content: space-between;
      }
    }

    &__profile,
    &__cart {
      @include flex-row;
      align-items: center;
      padding-right: 1em;
      position: relative;
      cursor: pointer;
    }

    &__icon {
      height: 1.5em;
      width: 1.5em;
      margin: 0.5em;

      @include respond-phone {
        height: 2em;
        width: 2em;
      }
    }

    &__cart-alert {
      background: red;
      color: white;
      border-radius: 50%;
      padding: 1.5px;
      height: 1.2em;
      width: 1.2em;
      font-size: 0.75em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 3px;
      left: 22px;

      @include respond-phone {
        transform: scale(1.25);
        top: 8px;
        left: 28px;
      }
    }
  }
}
