.header {
  display: flex;
  flex-direction: column;
}

.announcement {
  color: white;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  &__icon {
  }
}

.mini {
  width: 20% !important;
  height: 1.5em !important;
}
