.nav {
  display: flex;
  justify-content: center;
  margin: 2.5em 10%;
  font-weight: 500;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    &__item {
      list-style: none;
      @include flex-row;
      cursor: pointer;
      align-items: center;
      &-arrowDown {
        height: 1em;
        width: 1em;
      }
    }
  }
}
