header {
  display: flex;
  flex-direction: column; }

.announcement {
  color: white;
  text-align: center; }

.account {
  display: flex; }
  .account-search {
    margin-right: auto; }

.logo {
  display: flex;
  justify-content: center; }

.nav {
  display: flex;
  justify-content: center; }
  .nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 50em; }
    .nav-list-item {
      list-style: none; }

.bg-black {
  background: black; }

* {
  margin: 0;
  padding: 0; }
